version: '3.8'
services:
    trainer:
        build: .
        volumes:
            - .:/app
        ports:
          - 8080:8080
        command: >
            bash -c "cd scripts && python train_mu_zero.py
            --log"
        deploy:
          resources:
            reservations:
              devices:
                - driver: nvidia
                  device_ids: ['0']
                  capabilities: [gpu]

    oos:
        build: .
        volumes:
            - .:/app
        command: >
            bash -c "cd scripts && python train_oos_strategy.py
            --log"

    agent_play:
      build: .
      volumes:
        - .:/app
      command: >
        bash -c "cd scripts/analyse && python agent_play.py"
      deploy:
        resources:
          reservations:
            devices:
              - driver: nvidia
                device_ids: ['0']
                capabilities: [gpu]

    baselines:
        build: .
        ports:
          - 9899:9899
          - 9898:9898
          - 9897:9897
          - 9896:9896
          - 9895:9895
        volumes:
            - .:/app
        command: bash -c "
                  cd scripts
                  && python host_agents.py --files mcts.json dmcts.json dpolicy.json random.json dmcts-50.json"

    test:
        build:
            context: .
            args:
                DEV: 1
        ports:
          - 8080:8080
        entrypoint: []
        volumes:
            - .:/app
        command: pytest --forked -n auto --timeout=120 /app/test -v


